<form class="search-filters">
    <label>
        Search
        <input type="text" name="search-key" placeholder="Search">
    </label>

    <label>
        Area
        <select name="area-key" id="area-key">
        </select>
    </label>

    <label>
        Time
        <select name="time-key" id="time-key">
            <option value="10">10 min</option>
            <option value="20">20 min</option>
            <option value="30">30 min</option>
            <option value="40">40 min</option>
        </select>
    </label>

    <label>
        Ingredients
        <select name="ingredients-key" id="ingredients-key"></select>
    </label>

    <p>   
        Reset the filter
    </p>
</form>