<form class="search-filters">
    <label>
        Search
        <input type="text" id="search-key" name="search-key" placeholder="Enter text">
    </label>

    <label>
        Time
        <div class="custom-select">
            <select name="time-key" id="time-key">
                <option value="10">10 min</option>
                <option value="20">20 min</option>
                <option value="30">30 min</option>
                <option value="40">40 min</option>
            </select>
        </div>
        
    </label>

    <label>
        Area
        <div class="custom-select">
            <select name="area-key" id="area-key">
            </select>
        </div>
        
    </label>

    

    <label>
        Ingredients
        <div class="custom-select">
            <select name="ingredients-key" id="ingredients-key"></select>

        </div>
    </label>

    <p class="filter-reset">
        <svg>
            <use href="../images/sprite.svg#icon-search-close"></use>
        </svg>   
        Reset the filter
    </p>
</form>