:root {
  /* --Accent-- */
  --bcg-body-color: #f8f8f8;
  --bcg-body-DT-color: #161616;
  --accent-color: #9bb537;
  --rating-color: #eea10c;
  --switch-color-uncheck: rgba(160, 158, 160, 0.6);
  --rating-color-LT-uncheck: rgba(248, 248, 248, 0.1);
  --rating-color-DT-uncheck: rgba(255, 255, 255, 0.1);

  /* --Text-- */
  --pr-text-color: #050505;
  --pr-text-DT-color: #ffffff;
  --sec-text-color: #f8f8f8;
  --filtr-text-color: rgba(5, 5, 5, 0.5);
  --filtr-text-DT-color: rgba(255, 255, 255, 0.5);
  /* --Description-- */
  --popular-text-desc-color: rgba(5, 5, 5, 0.8);
  --card-desc-DT-text-color: rgba(255, 255, 255, 0.8);

  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  background-color: var(--bcg-body-color);
  color: var(--pr-text-color);

  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  padding: 8px 14px;
  font-family: inherit;

  background-color: var(--accent-color);
  color: var(--sec-text-color);
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1121px;
    padding: 0 20px;
  }
}
