/* Mobile Styles */
.scrollContainer {
  padding-top: 24px;
}

.getRecipesButton{
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.20);
  display: inline-flex;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--filtr-text-color);
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
.getRecipesButton:hover{
  background: var(--accent-color);
  color: var(--bcg-body-color);
}

.scrollableMenu {
  overflow: auto;
  height: 208px;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.menu-item {
  padding-bottom: 18px;
  cursor: pointer;
  color: var(--switch-color-uncheck);
}

.menu-item:last-child {
  padding-bottom: 0; /* Remove the margin-bottom for the last menu-item */
}

.menu-item:hover {
  color: var(--accent-color);
}

.scrollableMenu::-webkit-scrollbar {
  width: 8px;
}

.scrollableMenu::-webkit-scrollbar-thumb {
  background-color: rgba(5, 5, 5, 0.18);
  border-radius: 8px;
  height: 116px;
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1200px) {
  .scrollContainer {
    padding-top: 30px;
    width: 155px;
  }

  .scrollableMenu {
    height: 464px;
  }

  .menu-item {
    padding-bottom: 24px;
  }

  .scrollableMenu::-webkit-scrollbar-thumb {
    height: 201px;
  }
}

/* Desktop Styles */
@media (min-width: 1200px) {
  .scrollContainer {
    padding-top: 42px;
    width: 212px;
  }

  .scrollableMenu {
    height: 464px;
  }

  .menu-item {
    padding-bottom: 24px;
  }
}
