@import '../../node_modules/swiper/swiper.css';
@import '../../node_modules/swiper/modules/pagination.css';

.hero-container * {
    margin: 0;
    padding: 0;
}

.hero-wrapper {
    padding-bottom: 48px;
}

.hero-title, .hero-title > span {
    font-size: 26px;
    line-height: 1.2;
    text-transform: uppercase;
}

.hero-title {
    padding-bottom: 14px;
    color: var(--pr-text-color);
    font-weight: 400;
}

.hero-title > span {
    color: var(--accent-color);
    font-style: italic;
}

.hero-description {
    padding-bottom: 28px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
}

.hero-btn {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0);
    color: var(--pr-text-color);
    border: 1px solid var(--accent-color);
    transition: all var(--transition-dur-and-func);
}

.hero-btn:is(:hover, :focus) {
    color: var(--bcg-body-color);
    background-color: var(--accent-color);
}

/*--------------------------- cards ---------------------*/
.hero-card-descr {
    text-align: center;
    color: rgba(248, 248, 248, 0.6);
    font-size: 10px;
    line-height: 1.4;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    padding-top: 20px;

}

.hero-country {
    margin: 0;
    padding-top: 8px;
    color: rgba(248, 248, 248, 0.2);
    font-size: 8px;
    font-weight: 400;
    line-height: 1.5;
}

/*------------------------------ slider--------------------------------------------- */
.swiper-slide .img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.swiper {
    width: 355px;
    height: 302px;
}

.swiper-wrapper {
    height: 280px;
}

.swiper-slide {
    height: 100%;
}


 .swiper-pagination-bullet {
    background-color: var(--pr-text-color);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--accent-color);
    opacity: 1;
}
.cook {
    width: 80px;
}

.small-dish {
    width: 200px;
}

.big-dish {
    width: 200px;
}

@media screen and (min-width: 768px) {

.hero-wrapper {
        padding-bottom: 64px;
    }

.hero-title {
        padding-bottom: 16px;
        font-size: 36px;
    }

    .hero-description {
        padding-bottom: 32px;
        font-size: 16px;
        line-height: 1.5;
    }

    .swiper {
        width: 736px;
        height: 468px;
    }

    .swiper-wrapper {
        height: 442px;
    }
}



@media screen and (min-width: 1200px) {
    .hero-div {
        display: flex;
        align-items: center;
    }
    
    .hero-title, .hero-description {
        text-align: left;
        width: 446px;
    }

    .swiper {
            width: 702px;
        }
    

}