.hero-section * {
    outline: 1px solid var(--rating-color);
}
.hero-container {
    padding: 0 20px;
}

.hero-wrapper {
    padding-top: 90px;
    padding-bottom: 48px;
}

.hero-title, .hero-title > span {
    font-size: 26px;
    line-height: 1.2;
    text-transform: uppercase;
}

.hero-title {
    padding-bottom: 14px;
    color: var(--pr-text-color);
    font-weight: 600;
}

.hero-title > span {
    color: var(--accent-color);
    font-style: italic;
    font-weight: 400;
}

.hero-description {
    padding-bottom: 28px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
}

.hero-btn {
    background: rgba(0, 0, 0, 0);
    color: var(--pr-text-color);
    border: 1px solid var(--accent-color);
    /* прибрати */
    outline: none;
}

