.search-filters{
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}

input, select{
    outline:none;
    background: transparent;

    color: #000;
}

label{
    display: flex;
    flex-direction: column;

    gap: 8px;

    color: rgba(5, 5, 5, 0.50);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.16;


}

.ss-main{
    width: 100% ;
    padding: 5px ;


    border: 1px solid #05050533 ;
    border-radius: 15px ; 

    color: #000;
    color: rgba(5, 5, 5, 0.50) ;
    font-family: Inter ;
    font-size: 12px ;
    font-weight: 500 ;
    line-height: 1.16 ;

    padding: 14px 18px ;

    margin-bottom: 14px ;

    background-color: transparent;

}

.ss-main:focus{
    box-shadow: none;
}

.ss-content{
    border-radius: 14px;
}

.ss-content.ss-open-above{
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.ss-content.ss-open-below{
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

 .ss-list {
    max-height: 200px; 
    overflow-y: auto;
    border-radius: 14px;

    background: #FFF;
    box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.02);

  }



  .ss-single{
    color: #000;
    line-height: 1em;
  }

  .ss-placeholder{
    padding: 0 !important;
  }

.ss-option{
    color: rgba(5, 5, 5, 0.30) !important;
}

.ss-content .ss-list .ss-option.ss-highlighted, .ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected{
    color: #000 !important;
    background-color: #FFF;
}

.search-label{
    width: 100%;
    position: relative;
}

#search-key{
    width: 100%;
    margin-bottom: 14px;
    padding: 14px 0 14px 44px;

    border: 1px solid #05050533;

    border-radius: 15px;
}

.icon-search{
    width: 18px;
    height: 18px;
    fill: #05050580;
    position: absolute;
    top: 34px;
    left: 18px;
}

#search-key::placeholder{
    color: #05050580;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.16;
}




.area-label, .time-label {
    width: calc(50% - 20px);
}

.ingredients-label{
    width: 50%;
}

.filter-reset{
    margin: 0;

    color: rgba(5, 5, 5, 0.50);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.33;
    cursor: pointer;

    position: relative;
    top: 44px;
}


.reset-icon{
    height: 16px;
    width: 16px;
    fill: var(--accent-color);
    position: relative;
    top: 4px;
}



@media screen and (min-width: 768px){
    .search-filters{
        width: 496px;
        justify-content: unset;
        padding-bottom: 35px;
    }

    .search-label{
        width: 278px;
        margin-right: 16px;
    }

    .time-label{
        width: 125px;
    }

    .area-label{
        margin-right: 16px;
        min-width: 141px;
    }

    .ingredients-label{
        min-width: 188px;
    }

    .area-label, .ingredients-label{
        width: auto;
    }

    .filter-reset{
        top: 46px;
        left: 28px;
    }
} 

@media screen and (min-width: 1200px){
    .search-filters{
        flex-direction: row;
        flex-wrap: nowrap;
        min-width: 780px;
        column-gap: 16px;
    }

    /* .filter-reset {
        top: 46px;
        left: 28px;
    }
     */

     .search-label {
        margin-right: 0;
     }

     .area-label {
        margin-right: 0;
     }
}